<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.f22labs.instalikefragmenttransaction">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".G"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashScreenActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.AuthenticationActivity"/>
        <activity android:name=".activities.ConfirmAuthenticationActivity"/>
        <activity android:name=".activities.ChangeProfile"/>
        <activity android:name=".activities.Question"/>
        <activity android:name=".activities.avatarActivity"/>
        <activity android:name=".activities.noInternet"/>
    </application>

</manifest>